@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  text-align: center;
  overflow: hidden;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/aot.gif");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

main > * {
  position: relative;
  z-index: 2;
}

#song-player {
  width: 33%;
  background-color: black;
  border-radius: 1rem;
  text-align: left;
  overflow: hidden;
}

#now-playing-container {
  padding: 0rem 1rem;
}

#now-playing {
  opacity: 0;
  color: cyan;
}

.song-list-item {
  cursor: pointer;
  margin: 0;
  padding: 0.25rem 1rem;
}

.song-list-item:hover {
  background: #323232;
}

.song-list-item:first-child {
  padding-top: 0.5rem;
}

.song-list-item:last-child {
  padding-bottom: 0.5rem;
}

#controls {
  padding: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

button {
  padding: 0.5rem 1rem;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 3rem;
  transition: 0.3s;
}

button:hover {
  filter: drop-shadow(0 0 15px #cdfff8cc);
}

#play-pause-btn {
  background-color: #129e37;
}

#back-btn,
#next-btn {
  background-color: #323232;
}

@keyframes rumble {
  0% {
    transform: translateX(0);
  }
  10% {
    transform: translateX(-2px);
  }
  20% {
    transform: translateX(2px);
  }
  30% {
    transform: translateX(-2px);
  }
  40% {
    transform: translateX(2px);
  }
  50% {
    transform: translateX(-2px);
  }
  60% {
    transform: translateX(2px);
  }
  70% {
    transform: translateX(-2px);
  }
  80% {
    transform: translateX(2px);
  }
  90% {
    transform: translateX(-2px);
  }
  100% {
    transform: translateX(0);
  }
}

.rumble {
  display: inline-block;
  animation: rumble 0.5s infinite;
}

.active-song {
  background-color: #323232;
}
