@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

body {
  font-family: "Inter", sans-serif;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: black;
  color: white;
  text-align: center;
  line-height: 2.5rem;
  overflow: hidden;
}

main {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url("./assets/images/aot.gif");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

main > * {
  position: relative;
  z-index: 2;
}

button {
  font-size: 4rem;
  padding: 2rem 3rem;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  border-radius: 3rem;
  transition: 0.3s;
  margin-bottom: 5rem;
}

button:hover {
  scale: 1.05;
  filter: drop-shadow(0 0 15px #cdfff8cc);
}

#now-playing {
  opacity: 0;
  color: cyan;
}
